{"filter":false,"title":"app3-ums-install.tmpl","tooltip":"/13-DNS-to-DB/terraform-manifests/app3-ums-install.tmpl","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":87,"mode":"ace/mode/sh"}},"timestamp":1665508681041,"hash":"88c98f58d57b000394ea1f60c3b4995f3676f85b"}